
 <div class="row-fluid">
     <div class="span3">
       <% picture=dealer.dealer_picture  %>
            <% if picture %>
                   
      
      <%= image_tag(picture.file_url(:original),:style=>"margin-bottom:10px;") %>
   
    
     <% end %>
     </div>
          <div class="span7">


     <address>
  <strong>  <%= dealer.company_name %></strong><br>
   <%= "#{dealer.address1}, #{dealer.city_name}, #{dealer.postal_code}" %><br>
    <%= "#{dealer.country_name}, #{dealer.state_name}" %><br>
   <abbr title="Phone">P:</abbr>
                   <span id="primary_phone"><%= dealer.primary_phone %><%= " ,#{dealer.secondary_phone}" if dealer.secondary_phone!="" %></span>
                  
              

               
 
</address>
     </div>
       <div class="span2">
       <p class="lead muted text-center hidden-phone">
      Total Stock <br>
              <%= dealer.adverts.where(:activated=>true).count %>
            </p>
     </div>
     </div>
  
  