<table class="table table-hover">
  <thead>
    <tr>
      <th>DESCRIPTION</th>
      <th>ACTIVITY</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <% vehicles.each do |v| %>
      <tr id="garage_item_<%= v.id %>">
        <td>
          <% picture=v.pictures.first %>
          <%= link_to image_tag(picture.file_url(:thumb),:style=>"width:150px;margin-right:10px;vertical-align:top;",:class=>"img-polaroid"), send("#{v.type.name.singularize.underscore}_path", v) if picture %>
          <strong>
            <%= link_to v.make_model, send("#{v.type.name.singularize.underscore}_path", v) %>
          </strong>
        </td>
        <td class="muted">
          <small><strong class="text-success">Created</strong>
            <%= v.created_at.strftime("%d/%m/%Y") %></small></td>
  
        <td>
     
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_garage_item_path(v),:class=> "btn btn-small" %>
          <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, garage_item_path(v), method: :delete, data: { confirm: 'Are you sure?' },:class=> "btn btn-danger btn-small",:remote=>true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>