<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span3">
    <%= render 'users/well',:active=>"garage" %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h2><%= t("garage_items.index.edit") %></h2>
    </div>   
<%= vehicle_form_for @vehicle,:url => { :action => "update" },:html=>{ :class=>"form-vertical"},:authenticity_token => true,:remote=>false do |f| %>
        <%= render 'garage_items/partials/form',:f=>f %>
        <div class="row-fluid" >
            <div class="span12" style="padding-top:20px; margin-top:20px; border-top: 1px solid #eeeeee;">
			 <%= f.submit t("garage_items.index.save"),:class=>"btn btn-info" %>
        <%= link_to t("garage_items.index.cancel"), garage_items_url,:class=>"btn"  %>
        </div>
      </div>
      <% end %>
   </div>
   </div>




   
  