<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span3">
    <%= render 'users/well',:active=>"garage" %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h2><%= t("garage_items.index.garage_items") %></h2>
    </div>
    <div id="garage_items_progress" >
      <%= render 'progress' %>
    </div>
     
  
    <% if @count<@max_items%>
      <div class="row-fluid">
        <div class="span12">
       <div class="text-right hidden-phone">
            <%= link_to '<i class="icon-plus icon-white"></i> Add a Car'.html_safe, new_garage_item_path,:class=> "btn btn-info" %>
          </div>
         <div class="text-left visible-phone">
            <%= link_to '<i class="icon-plus icon-white"></i> Add a Car'.html_safe,new_garage_item_path,:class=> "btn btn-info" %>
          </div>
        </div>
      </div>
	  <% end %>
        <div id="garage_items" style="margin-top:10px;">
        <%= render partial: 'garage_items/partials/garage_items' %>
      </div>
      
    
  </div>
</div>
