<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span3">
    <%= render 'users/well',:active=>'profile' %>
  </div>
  <div class="span9">
    <div class="page-header">
      <h2><%= t("users.profile.profile") %>
        <small><%= t("users.profile.details") %></small></h2>
    </div>
    <p class="lead"><strong><%= t("users.profile.for_security") %></strong>
      <%= t("users.profile.security") %></p>
        <% if resource.is_dealer? %>
    <%= render 'devise/registrations/fileupload' %>

   
<% end %>
     <div class="row-fluid">
        <div class="span6">
    
       <%= vehicle_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:method => :put,:class=>"form-vertical",:multipart => true,:remote=>false}) do |f| %>
      <%= f.text_field :email,:label=>t("users.profile.email"), :disabled=>true %>
      <%= f.text_field :name,:label => t("users.profile.name"),:autofocus => true,:disabled=>!resource.uid.nil? %>
  
      <% if resource.is_dealer? %>
        <%= f.text_field :company_name,:label=>t("users.profile.company_name") %>
        <%= f.text_field :address1,:label=>t("users.profile.address1") %>
        <%= f.text_field :address2,:label=>t("users.profile.address2") %>
       
        <%= f.select :country_id,Country.order(:name).collect {|p| [ p.name, p.id ] },{include_blank: true},{:label=>t("users.profile.country"),:id=>"vehicle_country_id" }%>
             <%= f.select :state_id,State.order(:name).collect {|p| [ p.name, p.id ] },{},{:label=>t("users.profile.state"),:id=>"vehicle_state_id"} %>
               <%= f.select :city_id,City.order(:name).collect {|p| [ p.name, p.id ] },{},{:label=>t("users.profile.city"),:id=>"vehicle_city_id"} %>
       
        <%= f.text_field :postal_code,:label=>t("users.profile.postal_code") %>
        <%= f.text_field :company_reg,:label=>t("users.profile.registration_code") %>
        <%= f.text_field :company_kmkr,:label=>t("users.profile.vat_number") %>
        <%= f.text_field :webpage,:label=>t("users.profile.webpage") %>
      <% end %>
      <%= f.text_field :primary_phone,:label=>t("users.profile.primary_phone"), :size => 20 %>
      <%= f.text_field :secondary_phone,:label=>t("users.profile.secondary_phone"), :size => 20 %>
      
      <% if resource.uid.nil? %>
        <%= f.password_field :password, :autocomplete => "off", :label=> t("users.profile.new_password"),:hint => t("users.profile.hint"), :required => false %>
        <%= f.password_field :password_confirmation, :label=> t("users.profile.password_confirm"),:required => false %>
        <%= f.password_field :current_password,:label=> t("users.profile.current_password"), :hint => t("users.profile.need_password"), :required => true %>
      <% end %>
 
    <div style="padding-top:20px;">
      <%= f.submit t("users.profile.update"),:class=>"btn btn-primary" %>
      </div>
    <% end %>
    <!--<h3>Cancel my account</h3>
    <p>Unhappy?
      <%= link_to t("users.profile.cancel"), registration_path(resource_name), :data => { :confirm => t("users.profile.cancel_sure") }, :method => :delete %>.</p>-->
</div>
<div class="span6">
  
   
 </div>
  </div>
</div>