 <% if @saved_items.size>0 %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%=t("saved_items.index.description") %></th>
          <th><%=t("saved_items.index.price") %></th>
          <th><%=t("saved_items.index.recent") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @saved_items.each do |s| %>
        <% vehicle=s.vehicle %>
	     <% picture=vehicle.pictures.first  %>
 	   
        
          <tr id="saved_item_<%= s.id %>">
            <td width="150">
       <div class="thumbnail">          
      <div class="image">
		
      <% if vehicle.destroyed? %>
      <%= render 'saved_items/sold_picture',:picture=>picture,:reason_id=>vehicle.advert.delete_reason_id %>
    <% elsif vehicle.advert.activated==false %>
	  <%= render 'saved_items/deactivated_picture',:picture=>picture %>
      <% else %>
        <% if picture %>
      <%= link_to image_tag(picture.file_url(:thumb)), send("#{vehicle.type.name.downcase}_path", vehicle) %>
   
    <% else %>
      <%= image_tag "/thumbnail.png",size: "300x200" %>
    
    <% end %>
      <% end %>
	   
  </div>
    </div>
</td>
<td>
            
                <strong>
					 
                   <% if vehicle.destroyed?%>
                   <%= vehicle.short_name %>
                
				    <% elsif vehicle.advert.activated==false %>
                    <%= vehicle.short_name %>
                    
                 <% else %>
                  <%= link_to vehicle.short_name,  send("#{vehicle.type.name.downcase}_path", vehicle) %>
                 <% end %>
				 
            </strong>
	   		   <ul class="unstyled">
	   		    <li><small><%= vehicle.odometer_str %>  </small></li>
	     		   <li>
	     		    <small><%= vehicle.transmission_str %>  </small></li>
	       		 <li>
	       		    <small><%= vehicle.fueltype %>  </small></li>
	   			</ul>
                
              
            </td>
            <td>
             
                <% if vehicle.destroyed? %>
                <small><%=t("saved_items.index.last_listed") %></small> <span class="text-success"> <strong><%= currency(vehicle.price) %></strong></span>
			    <% elsif vehicle.advert.activated==false %>
				   <small><%=t("saved_items.index.last_listed") %></small> <span class="text-success"> <strong><%= currency(vehicle.price) %></strong></span>
                <% else %>
                <strong><%= currency(vehicle.price) %></strong>
                <% end %>
				 
            </td>
          
            <td class="muted">
              <small><strong class="text-success"><%=t("searches.index.saved_on") %></strong>
                <strong><%= s.created_at.strftime("%d.%m.%y @ %I:%M") %></strong>
                
                <% if s.saved_by_others? %><p><%=t("saved_items.index.other_people") %></p><% end %>

              </small>
            </td>
            <td>
                <div class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <%=t("searches.index.actions") %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
	  
       <% if vehicle.destroyed? %>
     <li><%= link_to t("saved_items.index.search_similar"), show_more_path(vehicle) %></li>
	 <% elsif vehicle.advert.activated==false %>
	 <li><%= link_to t("saved_items.index.search_similar"), show_more_path(vehicle) %></li>
       <% end %>
	   
     <li><%= link_to t("searches.index.delete"), s, method: :delete, data: { confirm: t("searches.index.delete_sure") },:remote=>true %></li>
        
        
        
       
  </ul>
</div>
          
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<p class="text-right" id="delete_all_items"><small><%= link_to t("searches.index.delete_all"), remove_all_saved_items_path,  data: { confirm: t("searches.index.sure")},:method => :get,:remote=>true %></small></p>
  <% end %>