<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      This email was generated at Webauto.ee:
    </p>
    <hr>
      <p>The following vehicle details were sent to you by
        <%= @inquiry.name %>.
      </p>
      <p><strong>COMMENTS:</strong><%= @inquiry.message %></p>
      <p><%= image_tag(@vehicle.pictures.first.file_url(:thumb)) %></p>
      <p><strong>VEHICLE DETAILS:</strong></p>
      <p>
        <%= "#{@vehicle.registered_at_year} #{@vehicle.make.name} #{@vehicle.model_name}" "#{@vehicle.badge}"  %></p>
      <p>More information</p>
      <hr>
        <p><strong>Want to SELL YOUR CAR fast?
          </strong></p>
        <p>Advertise on Webauto.ee for free - Includes 7 Photos.
          <p>Click the link below for more information</p>
          <p><%= link_to "http://www.webauto.ee/sell-your-car/", new_advert_path %></p>
        
		</body>
      </html>