<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <p>Check this car: <strong> <%= link_to "#{@vehicle.name} #{@vehicle.engine_name}",  url_for(controller: 'cars', action: 'show',locale: I18n.locale,id: @vehicle,only_path: false) %></strong>
   </p>
   <p><%= @inquiry.message %></p>
  
   <p>
	  <b><%= @inquiry.name %></b>
     </p>
	 
   <p>
	  <%= @inquiry.email %>
     </p>
   <hr>
     <p><strong>Want to SELL YOUR CAR fast?
       </strong></p>
     <p>Advertise on Webauto.ee for free!</p>
       <p>Click <a href="http://www.webauto.ee/<%= I18n.locale %>/sell-your-car/">here</a> for more information.</p>
   
		</body>
      </html>