<!-- Modal -->
<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contactModalLabel">Email the Dealer</h3>
  </div>
  <div class="modal-body">
    <div class="report-modal-message"></div>
   <%= form_for @inquiry,:url=>contact_dealer_path(@dealer),:html=>{id: "dealer_contact"},:remote=>true do |f| %>
    <%= f.hidden_field :mode,:value=>"contact_dealer" %>
      <% unless current_user %>
      <%= f.text_field :name,:placeholder=>t("inquiries.name"),:class=>"span12" %><br>
        <%= f.text_field :email,:placeholder=>t("inquiries.email"),:class=>"span12" %><br>
        <% else %>
        <%= f.hidden_field :name,:value=> current_user.name%>
        <%= f.hidden_field :email,:value=> current_user.email %>
        <% end %>
    
            <%= f.text_area :message,:rows=>5,:placeholder=>t("inquiries.write_message"),:class=>"span12" %>
            
            <div class="honeypot">
              <%= f.text_field :content, :value=>nil, tabindex: '-1' %>
              <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
            </div>
        
            <p  class="text-info" style="margin-top:10px;"><small><%= t("inquiries.acknowledge",:privacy_link=>privacy_path,:terms_link=>terms_path).html_safe %></small></p>
           
          <% end %>
  </div>
  <div class="modal-footer">
    <div class="preloader"></div>
    <button class="dealer_contact_btn btn btn-info"><%= t("inquiries.send") %></button>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("inquiries.close") %></button>
  </div>
</div>