<div class="row-fluid">
     <div class="span3">
       <% picture=dealer.dealer_picture  %>
            <% if picture %>
                   
      
      <%= image_tag(picture.file_url(:original),:style=>"margin-bottom:10px;") %>
   
    
     <% end %>
     </div>
          <div class="span7">


     <address>
  <h4>  <%= dealer.company_name %></h4>
   <%= "#{dealer.address1}, #{dealer.city_name}, #{dealer.postal_code}" %><br>
    <%= "#{dealer.country_name}, #{dealer.state_name}" %><br>
      <span id="phone_numbers"><%= secret_phone(dealer) %></span>
                  
              

               
 
</address>
    <%= link_to ("<i class='icon-envelope'></i> Email the Dealer").html_safe, "#contactModal",:'data-toggle'=>"modal" %><%= link_to ("<i class='icon-globe'></i> Visit Website").html_safe,http_url(dealer.webpage),:style=>"margin-left:5px;",:target=>"_blank" if dealer.webpage.present? %><%= link_to ("<i class='icon-map-marker'></i> View Map").html_safe,"http://maps.google.com/?q=#{dealer.full_address}",:target=>"_blank",:style=>"margin-left:5px;" %>
     </div>
       <div class="span2">
       <p class="lead muted text-center hidden-phone">
      Total Stock <br>
              <%= dealer.total_stock(@current_type.id).count %>
            </p>
     </div>
     </div>
  
 