

  
  <table width="100%" class="dealer">
    <tr>
      <td width="40%">
        <address>
  <strong>  <%= link_to dealer.company_name, dealer_path(dealer.dealer_name) %></strong><br>
  <%= dealer.address1 %><br>
   <%= "#{dealer.city_name}, #{dealer.postal_code}" %><br>
    <%= "#{dealer.country_name}, #{dealer.state_name}" %><br>
    <span id="phone_numbers"><%= secret_phone(dealer) %></span>
    
  
</address>




      </td>
       <td width="20%">
       <% picture=dealer.dealer_picture  %>
            <% if picture %>
                   
      
      <%= image_tag(picture.file_url(:original)) %>
   
    
     <% end %>
</td>
<td width="20%" align="center"  class="lead muted" >

              Total Stock <br>
              <%= dealer.total_stock(@current_type.id).count %>
            
            </td>  
      <td align="right" >
     
        <%= link_to "View Stock",  dealer_path(dealer.dealer_name),:class=>"btn btn-info"  %>
      </td>
    </tr>
  
  </table>
 

