

  
  <div class="row-fluid">
	        <div class="span3 dealer_picture">
	         <% picture=dealer.dealer_picture  %>
	              <% if picture %>
                   
      
	        <%= image_tag(picture.file_url(:original)) %>
   
    
	       <% end %>
	  </div>
       <div class="span7 dealer_address">
		   
        <address>
			<h4> <%= link_to dealer.company_name, dealer_path(dealer.dealer_name) %></h4>
 
  <%= dealer.address1 %><br>
   <%= "#{dealer.city_name}, #{dealer.postal_code}" %><br>
    <%= "#{dealer.country_name}" %><%= ", #{dealer.state_name}" if dealer.state_name.present? %><br>
	<% if dealer.phone1.present? %>
    <span id="phone_numbers"><%= secret_phone(dealer) %></span>
      <% end %>
  
</address>

</div>



      
  <div class="span2 lead muted text-center">
              <% stock=dealer.total_stock(@current_type.id).count %>
              <%=t("dealers.index.total_stock")%><br>
			   <h4>
			  <% if stock > 0 %>
			    <%= link_to stock,  dealer_path(dealer.dealer_name) %>
            <% else %>
              <%= stock %>
            <% end %> 
       </h4>
    </div>
  
 
 

