<div class="well" style="margin-top: 20px; padding: 8px 0;">
  <ul class="nav nav-list">
    <% if active=="dashboard" %><li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-home"></i> '+t("navigation.dashboard")).html_safe, dashboard_url %></li>
      <li class="nav-header"><%= t("navigation.favourites") %></li>
      <!--<% if active=="garage" %><li class="active"><%= link_to '<i class="icon-garage-white"></i> Garage'.html_safe,  garage_items_url %></li><% else %><li><%= link_to '<i class="icon-garage"></i> Garage'.html_safe,  garage_items_url %></li><% end %>-->
      <% if active=="searches" %><li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-search"></i> '+t("navigation.saved_searches")).html_safe, searches_url %></li>
        <% if active=="items" %><li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-star"></i> '+t("navigation.saved_items")).html_safe, saved_items_url %></li>
          <li class="nav-header"><%= t("navigation.sell") %></li>
          <li><%= link_to ('<i class="icon-plus-sign"></i> '+t("navigation.create_ad")).html_safe, new_advert_path %></li>
          <% if active=="ads" %><li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-pencil"></i> '+t("navigation.my_ads")).html_safe, adverts_url %></li>
            <li class="divider"></li>
            <% if active=="profile" %><li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-user"></i> '+t("navigation.profile")).html_safe, profile_path %></li>
              <% if active=="settings" %>
                <li class="active"><% else %><li><% end %><%= link_to ('<i class="icon-wrench"></i> '+t("navigation.settings")).html_safe, settings_path %></li>
                <li><%= link_to ('<i class="icon-off"></i> '+t("navigation.signout")).html_safe, searches_path %></li>
              </ul>
            </div>
            <!-- /well -->