	 <div class="row-fluid">
	   <div class="span6">
	 <%= f.fields_for :garage_item do |builder| -%>
     <%= builder.hidden_field :user_id,value: current_user.id %>

	  <% if @vehicle.advert %>
	  <%= builder.select :ownership_id,t('ownership').collect {|a| [ a["name"], a["id"] ] },{include_blank: false},{label: t("garage_items.index.association"),disabled: true } %>
	  <% else %>
	   <%= builder.select :ownership_id,t('ownership').collect {|a| [ a["name"], a["id"] ] },{include_blank: false},{label: t("garage_items.index.association") } %>
	   <% end %>
   <% end %>
    </div>
	 <div class="span6">
	 </div>
	 </div>
<div class="row-fluid">
  <div class="span6">
    <%= f.collection_select :bodytype_id, @bodytypes, :id, :name,{include_blank: true}, {label: t("adverts.edit.bodytype")} %>
    <%= f.hidden_field :user_id,value: current_user.id %>
    <%= f.hidden_field :type_id,value: @current_type.id %>

    <%= f.select :make_id, @makes.collect {|p| [ p.name, p.id ] },{include_blank: true},{label: t("adverts.edit.make"),id: "vehicle_make_id"} %>
    <%= f.select :model_id,[],{},{label: t("adverts.edit.model_name"),id: "vehicle_model_id"} %>
      <%= f.text_field :model_spec,id:"model_spec"   %>
  
    <%= f.text_field :registered_at,label:t("adverts.edit.registered_at"),:type=>"datepicker" %>
    <%= f.text_field :badge,label: t("adverts.edit.variant"),placeholder: "#{t("adverts.edit.example")}: D5, GLX, AWD" %>
	 <%= f.text_field :series,label: t("adverts.edit.version"),placeholder: "#{t("adverts.edit.example")}: Facelift, Edition 10, Sport Line" %>
    <%= f.text_field :year,label: t("adverts.edit.year") %>
  </div>
<div class="span6">
<%= f.text_field :odometer,label: t("adverts.edit.odometer"),placeholder: "#{t("adverts.edit.example")}: 75000"  %>
<%= f.text_field :engine_power,label: t("adverts.edit.power"),placeholder: "#{t("adverts.edit.example")}: 165"  %>
    <%= f.text_field :engine_size,label: t("adverts.edit.size"),placeholder: "#{t("adverts.edit.example")}: 2.0"  %>
    <%= f.select :fueltype_id, t('fueltypes').collect {|c| [ c["name"], c["id"] ] },{include_blank: true}, {label: t("adverts.edit.fuel")} %>
     <%= f.select :transmission_id, t('transmissions').collect {|c| [ c["name"], c["id"] ] },{}, {label: t("adverts.details.transmission")}%>
  
    <%= f.select :colour_id,t('colours').collect {|c| [ c["name"], c["id"] ] },{include_blank: true},{label: t("adverts.edit.color")} %>
    <%= f.text_field :specific_colour,label: t("adverts.edit.spec_color"),placeholder: "#{t("adverts.edit.example")}: Diamond Silver Metallic" %>
    <!--<%= f.check_box :metallic_colour,label: t("adverts.edit.metallic_color") %>-->
    
      <%= f.hidden_field :current_step,:value=> "edit" %> 
    
    
</div>
  

</div>
    
      
   



