
 <div class="row-fluid" style="margin-bottom:10px;">
 <div class="span6">

<%= compare_vehicle_button %>
<%= save_vehicle_button %>
<%= link_to ("<i class='icon-envelope'></i> "+t("vehicles.show.share")).html_safe, "#sendToFriendModal",:class=> "btn btn-block",:role=>"button",:'data-toggle'=>"modal" %>
</div>
 <div class="span6">
<%= link_to ("<i class='icon-bullhorn'></i> "+t("vehicles.show.report")).html_safe, "#reportAdModal",:class=> "btn btn-block",:role=>"button",:'data-toggle'=>"modal" %>
<%= link_to ("<i class='icon-comment'></i> "+t("vehicles.show.comments")+" [#{@vehicle.comments.count}]").html_safe, "#commentsModal",:class=> "btn btn-block",:role=>"button",:'data-toggle'=>"modal" %>
<% if current_user %>
<% if current_user.email.present? %>
<%= link_to ("<i class='icon-envelope'></i> "+t("vehicles.show.contact_private_seller")).html_safe, "#contactModal",:role=>"button",:'data-toggle'=>"modal",:class=> "btn btn-block" %>
<% end %>
<% end %>
</div>
</div>