<!-- Modal -->
<div id="commentsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="commentsModalLabel"><%= t("comments.comments")  %></h3>
  </div>
  <div class="modal-body">
    <div class="comments-modal-message"></div>
	<% if current_user  %>
    <%= render partial: "comments/form",locals: {parent: nil} %>
	
    <% else %>
  
  <div class="alert alert-info">
 
 
 
	  <%= t("navigation.comment_login",login: new_user_session_path,register:new_user_registration_path).html_safe %>
	   </div>
    <% end %>
	
    <div id="comments">
      <% if @vehicle.comments.exists? %>
        <%= nested_comments @vehicle.comments.arrange(:order=>"created_at DESC")%>
      <% else %>
       <!-- No Comments  -->
      <% end %>
    </div>
	<% if current_user  %>
	<p class="text-info" style="margin-top:10px;"><small><%= t("inquiries.acknowledge_comments",:privacy_link=>privacy_path,:terms_link=>terms_path).html_safe %></small></p>
	<% end %>
  </div>
  <div class="modal-footer">
    <div class="preloader"></div>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t("inquiries.close")  %></button>
  </div>
</div>