
<div class="well" style="margin-top:10px;">
 <div class="row-fluid">
  <div class="span6">
      <% if @user.is_dealer %>
	      <h4><%= link_to @user.company_name, dealer_path(@user.dealer_name) %></h4>
		
		 <% end %>
  

    <address>
      <% if @user.is_dealer %>
          <%= @user.address1 %><br>
            <% if @user.address2.present? %>
              <%= @user.address2 %><br>
              <% end %>
              <%= "#{@user.city_name}, #{@user.postal_code}" %><br>
                 <%= "#{@user.country_name}" %><%= ", #{@user.state_name}" if @user.state_name.present? %><br><br>
			   
			 
                  <% end %>
                   <strong><%= @user.name %></strong><br>
				   <% if @vehicle.advert.contact_number.present? %>
                   <span id="phone_numbers"><%= secret_phone_advert(@vehicle) %></span>
				   <% end %>
                  </address>
				  <div class="no-print">
				   <% if @user.is_dealer %>
				   	<%= link_to ("<i class='icon-search'></i>  "+t("dealers.index.show_inventory")).html_safe,dealer_path(@user.dealer_name) %><br>
     				 <% if @user.webpage.present? %>
     				<%= link_to ("<i class='icon-globe'></i> "+t("dealers.index.visit")).html_safe,http_url(@user.webpage),:target=>"_blank"  %><br>
     				 <% end %>
  				<%= link_to ("<i class='icon-map-marker'></i>  "+t("dealers.index.map_directions")).html_safe,"http://maps.google.com/?q=#{@user.full_address}",:target=>"_blank"%>
  			
				  
				  <% end %>
         </div>  
		   
  </div>
 <div class="span6">
     <% if @user.is_dealer %>
     <%= image_tag @user.dealer_picture.file_url(:original),:style=>"margin-top:10px;" if @user.dealer_picture %>
   

	 <% end %>
 </div>
  </div>


              
                   
               

   
      </div>

  
       
