
<div class="well" style="margin-top:10px;">
 <div class="row-fluid">
  <div class="span12">
      <% if @user.is_dealer %>
	     <%= image_tag @user.dealer_picture.file_url(:original),:style=>"margin-bottom:10px;" if @user.dealer_picture %>
        <h4><%= link_to @user.company_name, dealer_path(@user.dealer_name) %></h4>
		 <% else %>
		 <h4>Seller's details</h4>
		 <% end %>
  

    <address>
      <% if @user.is_dealer %>
          <%= @user.address1 %><br>
            <% if @user.address2.present? %>
              <%= @user.address2 %><br>
              <% end %>
              <%= "#{@user.state.name}, #{@user.postal_code}" %><br>
                <%= "#{@user.country.name}, #{@user.city.name}" %><br><br>
                  <% end %>
                   <strong><%= @user.name %></strong><br>
                   <span id="phone_numbers"><%= secret_phone(@user) %></span>
                  </address>
				   <% if @user.is_dealer %>
				   	<%= link_to ("<i class='icon-search'></i>  View Inventory").html_safe,dealer_path(@user.dealer_name) %><br>
     				 <% if @user.webpage.present? %>
     				<%= link_to ("<i class='icon-globe'></i> Visit Website").html_safe,http_url(@user.webpage),:target=>"_blank"  %><br>
     				 <% end %>
  				<%= link_to ("<i class='icon-map-marker'></i>  Map & Directions").html_safe,"http://maps.google.com/?q=#{@user.full_address}",:target=>"_blank"%>
  			
				  
				  <% end %>
                 
  </div>
  </div>


              
                   
               
     <!--
      <% if @user.is_dealer %>
                  <div class="row-fluid" style="margin-top:20px;">

  <div class="span12"  >
       <iframe width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCN5utK_Nhf6SuuzW66T2b2OerxjdAJm_U&q=<%=@user.full_address %>&attribution_source=Google+Maps+Embed+API
      &attribution_web_url=http://www.butchartgardens.com/
      &attribution_ios_deep_link_id=comgooglemaps://?daddr=Butchart+Gardens+Victoria+BC">
  </iframe>
</div>
</div>
<% end %>
		 -->
       <% if @user.email.present? && mode=="show" %>
       <%= render "users/contactModal",:user=>@user %>
         

                     
                <% end %>
      </div>

  
       
