
<div class="well" style="margin-top:10px;">
 <div class="row-fluid">
  <div class="span12">
   <h4><%= t("vehicles.show.contact_#{@user.is_dealer ? 'dealer' : 'private_seller'}")  %></h4>
    <address>
      <% if @user.is_dealer %>
     
        <%= @user.company_name %><br>
          <%= @user.address1 %><br>
            <% if @user.address2!="" %>
              <%= @user.address2 %><br>
              <% end %>
              <%= @user.postal_code %><br>
                <%= "#{@user.country.name}, #{@user.city.name}" %><br><br>
                  <% end %>
                  <%= @user.name %><br>
                    <abbr title="Primary phone">P:</abbr>
                   <span id="primary_phone"><%= secret_phone(@user.primary_phone,@vehicle.advert,"primary") %></span>
                    <% if @user.secondary_phone!="" %>
                      <abbr title="Secondary phone">P:</abbr>
                     <span id="secondary_phone"> <%= secret_phone(@user.secondary_phone,@vehicle.advert,"secondary") %></span>
                    <% end %>
                  </address>
                   <%= image_tag @user.dealer_picture.file_url(:original), :class=>"thumbnail" if @user.dealer_picture %>
  </div>
  </div>


              
                   
               
     
      <% if @user.is_dealer %>
                  <div class="row-fluid">

  <div class="span12" style="margin-top:10px;" >
       <iframe width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCN5utK_Nhf6SuuzW66T2b2OerxjdAJm_U&q=<%=@user.full_address %>&attribution_source=Google+Maps+Embed+API
      &attribution_web_url=http://www.butchartgardens.com/
      &attribution_ios_deep_link_id=comgooglemaps://?daddr=Butchart+Gardens+Victoria+BC">
  </iframe>
</div>
</div>
<% end %>
       <% if @user.email.present? && mode=="show" %>
            <div class="row-fluid">
  <div class="span12" style="margin-top:10px;">
    <%= render partial: "inquiries/form",locals: {mode: "inquiry"} %>
             </div>
              </div>

                     
                <% end %>
      </div>

  
       
