
<div class="row-fluid">
  <div class="span12">
    <%= render 'adverts/partials/breadcrumb',:step=>@action %>
    <div class="page-header">
      <h2>
        Please confirm ad #<%= @advert.uid %></h2>
    </div>
   
  </div>
</div>


<div class="row-fluid">
  	  <div class="span12">
  	  	<%= render 'orders/order' %>
      
  
</div>
</div>
<div class="row-fluid">
      <div class="span12">

    <%= vehicle_form_for @advert, :html=>{:class=>"form-vertical"},:authenticity_token => true,:remote=>false do |f| %>
     <% if @advert.activated %>
     <%= f.hidden_field :activated,value: false %>
     <% else %>
      <%= f.hidden_field :activated,value: true %>
      <% end %>
 <%= render 'adverts/partials/actions',:f=>f %>




 

     <% end %>
  </div>
</div>

<!--
  	  	<%= form_for(@order) do |f| %>

<div class="field">
<%= f.label :pay_type %><br />
<%= f.select :pay_type, Order::PAYMENT_TYPES,prompt: 'Select a payment method' %>
</div>

<%= render 'adverts/partials/actions',f: f %>


<% end %>
  -->
 

