<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1 class="text-center">Sell your
        <%= @current_type.name %>
        where the buyers are!</h1>
    </div>
  </div>
</div>

   <div class="row-fluid">

  <div class="thumbnail span3 offset3" >


    
      <h3 align="center">FREE</h3>
      <h4 class="muted" align="center">Until Sold</h4>
      <p align="center">UNLIMITED FREE EDITS</p>
       <%= form_for @advert, :url => { :action => "create" },:html=>{ :method => :post, :class=>"form-vertical"},:authenticity_token => true,:remote=>false do |f| %>
 

        <%= f.hidden_field :user_id,value: current_user.id %>
 
        <%= f.hidden_field :ad_type,value: "Free" %>
      <p align="center"><%= f.submit "Start selling",:class=>"btn btn-large btn-primary" %></p>

  
<% end %>
<p align="center">
<strong >Every ad includes:</strong>
</p>
<table class="table table-hover">
<tr class="info">
  
    <td>7 photos</td>
  </tr>
  <tr class="info">
  
    <td>Weekly email with ad updates & performance tips</td>
  </tr>
<tr class="info">
  
    <td>Highlighted listing</td>
  </tr>
 
 
</table>
    </div>
     <div class="thumbnail span3" >


    
      <h3 align="center">STANDARD</h3>
      <h4 class="muted" align="center">65&euro; Until Sold</h4>
      <p align="center">UNLIMITED FREE EDITS</p>
       <%= form_for @advert, :url => { :action => "create" },:html=>{ :method => :post, :class=>"form-vertical"},:authenticity_token => true,:remote=>false do |f| %>
 

        <%= f.hidden_field :user_id,value: current_user.id %>
 
        <%= f.hidden_field :ad_type,value: "Standard" %>
      <p align="center"><%= f.submit "Start selling",:class=>"btn btn-large btn-primary" %></p>

  
<% end %>
<p align="center">
<strong >Every ad includes:</strong>
</p>
<table class="table table-hover">
<tr class="info">
  
    <td>10 photos</td>
  </tr>
  <tr class="info">
  
    <td>Weekly email with ad updates & performance tips</td>
  </tr>
<tr class="info">
  
    <td>Highlighted listing</td>
  </tr>
 
 
</table>
    </div>
  </div>


   
   
   <div class="row-fluid">
  <div class="span12">
      <p align="center" style="margin-top:10px;">Already have an ad?
        <%= link_to "Manage Your Ad",adverts_url %>
      </p>
    </div>
  </div>

