

  
  <div class="row-fluid">
		        
       <div class="review_info span7">
		   <h4 class="review_title"> <%= link_to review.vehicle_name, details_review_path(review) %></h4>
     <p class="review_text"><%= truncate(review.experience,length:length, separator: '...') %></p>
     
</div>



      
  <div class="review_info span5 text-right">
 		<ul class="inline">
		
    	
 		<li><div id="overall_rating_<%= review.id %>" class="overall_rating" data-score="<%= review.overall %>"></div></li>
 		<li><h4 class="review_overall text-success"><%= review.overall %><small>/5</small></h4></li>
        </ul>
	          
	           
	          
    </div>
	
   </div>

 <div class="row-fluid">
	        
      <div class="review_info span8">
		    <small class="muted"><%= "#{review.first_name} | #{I18n.l(review.created_at, format: :no_time)}"%></small>
	  </div>
      <div  class="review_info span4 text-right">
		   <%= link_to t("reviews.index.show"), details_review_path(review),:class=> "btn",:style=>"margin:5px;" %>
	  </div>
  </div>
 

