<td id="link_to_search_<%= s.id %>">
   <%= render 'searches/link_to_search',s: s %>

</td>
<td>
  <ul class="unstyled">
  <% s.details.each do |d| %>
    <li><small><%= d %></small></li>
  <% end %>
</ul>
</td>
<td>
	
<% if s.allow_alerts %>
<%= tag("input", type: 'checkbox', checked: (s.alert_freq=="No Alert" ? nil : "checked"),class: ["toggle_alert"], id: "toggle_alert_#{s.id}", data: {toggle: 'toggle', size: 'normal', on: "#{t('searches.index.alerts_on')}", off: "#{t('searches.index.alerts_off')}"}) %>
 <% else %>
 <small><%= t("searches.index.no_alert_available") %><br>
	 <%= link_to t("searches.index.refine"), send("search_#{s.type.name.underscore.pluralize}_path",s,:sort=>s.sort) %>

</small>
  <% end %>
  
</td>
<td class="muted">
	<ul class="unstyled">
			<% if s.saved_at %>
  <li><small><strong class="text-success"><%= t("searches.index.saved_on") %></strong>
    <strong><%= s.saved_at.strftime("%d.%m.%y @ %I:%M") %></strong></small></li>
	 <% end %>
	<% if s.search_alerts.present? %>
  <li><small><strong class="text-success"><%= t("searches.index.last_alert") %></strong>
    <strong><%= s.search_alerts.last.created_at.strftime("%d.%m.%y @ %I:%M") %></strong></small></td></li>
	 <% end %>
	</ul>
<td >
 <div class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t("searches.index.actions") %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
     <li> <%= link_to t("searches.index.run"), send("search_#{s.type.name.underscore.pluralize}_path",s,:sort=>s.sort) %></li>
     <li> <%= link_to t("searches.index.rename"), edit_search_path(s),:remote=>true  %></li>
     <li>
  <%= link_to t("searches.index.delete"), s, method: :delete, data: { confirm: t("searches.index.delete_sure")},:remote => true %></li>   
  </ul>
</div>
</td>