<% if compared_items.size>0 %>

<table class="table table-condensed">
<tr>
  <td style="border: none;"></td>
  <% 4.times do |i| %>
  <td style="border: none;" class="right"><small>
  <% if compared_items[i] %>
 
  <%= link_to t("compared_items.index.remove"),compared_items[i],method: :delete,:remote=>true %> 
 
  <% end %>
  </small>
  </td>
  <% end %>
</tr>
<tr>
  <td style="border: none;">
  </td>
  <% 4.times do |i| %>
  <td style="border: none;">
  <% if compared_items[i] %>
  
  <%= render 'compared_items/vehicle',:compared_item=>compared_items[i].vehicle,:version=>"small" %> 

 
   
    <% else %>
  <div class="thumbnail" style="max-width: 300px; float:right;">
      <%= image_tag "/thumbnail.png",size: "300x200" %>
  </div>
   <% end %>
  </td>
  <% end %>
</tr>
<tr>
  <td style="border: none;">
  </td>
  <% 4.times do |i| %>
  <td style="border: none;" class="right">
  <% if compared_items[i] %>
 
     <strong>
		 
        <% if compared_items[i].vehicle.destroyed?%>
        <%= compared_items[i].vehicle.make_model %>
        
	    <% elsif compared_items[i].vehicle.advert.activated==false %>
         <%= compared_items[i].vehicle.make_model %>
 
      <% else %>
       <%= link_to compared_items[i].vehicle.make_model,  send("#{compared_items[i].vehicle.type.name.downcase}_path", compared_items[i].vehicle) %>
      <% end %>
	 
 </strong>

  <% end %>

  </td>
  <% end %>
  </tr>
<tr>
  <td style="border: none;">
  </td>
  <% 4.times do |i| %>
  <td style="border: none;">
  <% if compared_items[i] %>
 
    <h2 class="text-right text-success" style="line-height: 0.7;"><small><s><%= "#{currency(compared_items[i].vehicle.previous_price)}" %></s></small> <%= "#{currency(compared_items[i].vehicle.price)}" %><br><small><%= compared_items[i].vehicle.price_vat ? t("vehicles.show.incl_vat") : t("vehicles.show.exl_vat") %></small></h2>

  <% end %>

  </td>
  <% end %>
  </tr>
  <tr>
  <td style="border: none;">
  </td>
  <% 4.times do |i| %>
 <td class="right" style="border: none;">
  <% if compared_items[i] %>
 
 <span class="label"><%= compared_items[i].vehicle.user.is_dealer ? t("vehicles.show.dealer") : t("vehicles.show.private")  %></span>
  <% end %>

  </td>
  <% end %>
  
  </tr>
    <tr>
        <td><%= t("vehicles.show.bodystyle") %></td>
<% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  <% unless compared_items[i].vehicle.nil? %>
 <%= spec(compared_items[i].vehicle.bodytype_str)  %>
  <% end %>
  <% end %>
  </td>
  <% end %>
        </tr>
   
        <tr >
          <td><%= t("vehicles.show.drivetype") %></td>
          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.drivetype) %>

  <% end %>
  </td>
  <% end %>
      
        </tr>
        <tr >
          <td><%= t("vehicles.show.colour") %></td>
            <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.colour) %>
  <% end %>
 
  </td>
  <% end %>
        </tr>
     
        <tr >
          <td><%= t("vehicles.show.location") %></td>
           <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.location) %>
  <% end %>

  </td>
  <% end %>
        </tr>
          <tr>
          <td><%= t("vehicles.show.initial_reg") %></td>
           <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.registered_at) %>

  <% end %>
  </td>
  <% end %>
        </tr>

        <tr >
          <td><%= t("vehicles.show.kilometres") %></td>
                 <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.odometer_str) %>
 
  <% end %>
  </td>
  <% end %>
        </tr>
        <tr >
          <td><%= t("vehicles.show.transmission") %></td>
 <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.transmission_str) %>

  <% end %>
  </td>
  <% end %>
        </tr>
       
        <tr >
          <td><%= t("vehicles.show.brought_from") %></td>
           <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.origin_name) %>

  <% end %>
  </td>
  <% end %>
        </tr>
 <tr><td>
      <%= spec_title(t("vehicles.show.engine")) %>
         </td>
            <% 4.times do |i| %>
 <td>
  </td>
  <% end %> 
       </tr>
          <tr>
          <td><%= t("vehicles.show.engine_power") %></td>
             <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.engine_power_str) %>
 
  <% end %>
  </td>
  <% end %>

        </tr>
        <tr>
          <td><%= t("vehicles.show.engine_type") %></td>
                       <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.engine_type) %>

  <% end %>
  </td>
  <% end %>

        </tr>
         <tr>
          <td><%= t("vehicles.show.engine_size") %></td>
    <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.engine_size_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
        <tr>
          <td><%= t("vehicles.show.cylinders") %></td>
            <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.cylinders_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
        <tr>
          <td><%= t("vehicles.show.top_speed") %></td>
                 <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.max_speed_str) %>

  <% end %>
  </td>
  <% end %>
  
        </tr>
            
   
        <tr>
          <td><%= t("vehicles.show.acceleration") %></td>
                         <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.acceleration_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
        <tr><td>
      <%= spec_title(t("vehicles.show.fuel")) %>
         </td>
  <% 4.times do |i| %>
 <td>

  </td>
  <% end %>
 
       </tr>
        <tr>
          <td><%= t("vehicles.show.fuel_type") %></td>
  <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.fueltype) %>

  <% end %>
  </td>
  <% end %>
 
        </tr>
         <tr>
          <td><%= t("vehicles.show.fuel_cons_city") %></td>
            <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.fuel_cons_city_str) %>
 
  <% end %>
  </td>
  <% end %>
      
        </tr>
          <tr>
          <td><%= t("vehicles.show.fuel_cons_freeway") %></td>
               <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.fuel_cons_freeway_str) %>
  
  <% end %>
  </td>
  <% end %>
   
        </tr>
             <tr>
          <td><%= t("vehicles.show.fuel_cons_combined") %></td>
                   <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.fuel_cons_combined_str) %>
 
  <% end %>
  </td>
  <% end %>
   
        </tr>
         <tr>
          <td><%= t("vehicles.show.fuel_capacity") %></td>
                 <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.fueltank_str) %>

  <% end %>
  </td>
  <% end %>
  
        </tr>
        <tr><td>
           <%= spec_title(t("vehicles.show.wheels_tires")) %>
         </td>
               <% 4.times do |i| %>
 <td >

  </td>
  <% end %>
 
       </tr>
        <tr>
          <td><%= t("vehicles.show.summer_tires") %></td>
                     <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.summer_tires_details) %>

  <% end %>
  </td>
  <% end %>
   
        </tr>
            <tr>
          <td><%= t("vehicles.show.summer_tire_size") %></td>
                      <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.summer_tires_size) %>
 
  <% end %>
  </td>
  <% end %>
     
        </tr>
             <tr>
          <td><%= t("vehicles.show.winter_tires") %></td>
                       <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.winter_tires_details) %><%= spec_details([[compared_items[i].vehicle.all_season_tires,"all season"],[compared_items[i].vehicle.spike_tires,"with spikes"]]) %>
 
  <% end %>
  </td>
  <% end %>
       
        </tr>
         <tr>
          <td><%= t("vehicles.show.winter_tire_size") %></td>
                             <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.winter_tires_size) %>

  <% end %>
  </td>
  <% end %>
   
        </tr>
         <tr>
          <td><%= t("vehicles.show.light_alloy_wheels") %></td>
                                  <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

<%= spec((compared_items[i].vehicle.light_alloy_wheels ? compared_items[i].vehicle.light_alloy_wheels_details : t("vehicles.show.noooo")))  %>
 
  <% end %>
  </td>
  <% end %>

        </tr>
         <tr><td>
           <%= spec_title(t("vehicles.show.dimensions_weights")) %>
         </td>
                                  <% 4.times do |i| %>
 <td>
 
  </td>
  <% end %>
       </tr>
        <tr>
          <td><%= t("vehicles.show.height") %></td>
                                      <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.height_str) %>
  
  <% end %>
  </td>
  <% end %>
     
        </tr>
          <tr>
          <td><%= t("vehicles.show.length") %></td>
                                          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.length_str) %>

  <% end %>
  </td>
  <% end %>
           
        </tr>
          <tr>
          <td><%= t("vehicles.show.width") %></td>
                                          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.width_str) %>
 
  <% end %>
  </td>
  <% end %>
     
        </tr>
          <tr>
          <td><%= t("vehicles.show.wheelbase") %></td>
                                          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.wheelbase_str) %>
 
  <% end %>
  </td>
  <% end %>
    
        </tr>
          <tr>
          <td><%= t("vehicles.show.gross_mass") %></td>
                                          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.gross_weight_str) %>

  <% end %>
  </td>
  <% end %>
        
        </tr>
          <tr>
          <td><%= t("vehicles.show.load_capacity") %></td>
                                          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.load_capacity_str) %>

  <% end %>
  </td>
  <% end %>
    
        </tr>
          <tr>
          <td><%= t("vehicles.show.kerb_weight") %></td>
               <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.net_weight_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
         <tr><td>
           <%= spec_title(t("vehicles.show.warranty_service")) %>
         </td>
              <% 4.times do |i| %>
 <td>

  </td>
  <% end %>
   </tr>
        <tr>
          <td><%= t("vehicles.show.warranty") %></td>
                   <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= double_spec(compared_items[i].vehicle.warranty_valid_to_str,compared_items[i].vehicle.warranty_km_str)%>

  <% end %>
  </td>
  <% end %>
        </tr>
           
                 <tr>
          <td><%= t("vehicles.show.service_interval") %></td>
                      <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= double_spec(compared_items[i].vehicle.service_freq_str,compared_items[i].vehicle.service_km_str) %>
  
  <% end %>
  </td>
  <% end %>
 
        </tr>
     
                 <tr>
          <td><%= t("vehicles.show.next_service") %></td>
                                     <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

<%= double_spec(compared_items[i].vehicle.next_service_str,compared_items[i].vehicle.next_service_km_str) %>
 
  <% end %>
  </td>
  <% end %>
   
        </tr>
              
             <tr>
          <td><%= t("vehicles.show.service_history") %></td>
                                                      <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 

 <%= spec(compared_items[i].vehicle.service_history) %>
  <% end %>
 
  </td>
  <% end %>

        </tr>
        
         <tr><td>
           <%= spec_title(t("vehicles.show.other")) %>
         </td>
                                                <% 4.times do |i| %>
 <td>

  </td>
  <% end %>
 
       </tr>
        <tr>
          <td><%= t("vehicles.show.origin") %></td>
                                                       <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
 
 <%= spec(compared_items[i].vehicle.origin_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
           <tr>
          <td><%= t("vehicles.show.doors") %></td>
<% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.doors_str) %>

  <% end %>
  </td>
  <% end %>

        </tr>
              <tr>
          <td><%= t("vehicles.show.seats") %></td>
 <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>

 <%= spec(compared_items[i].vehicle.seats_str) %>
 
  <% end %>
  </td>
  <% end %>
        </tr>
             <tr>
          <td><%= t("vehicles.show.owners") %></td>
          <% 4.times do |i| %>
 <td class="right">
  <% if compared_items[i] %>
  
 <%= spec(compared_items[i].vehicle.owners_str) %>

  <% end %>
  </td>
  <% end %>
        
        </tr>
</table>

 <% end %>



  