<div class="page-header"><h1>Upload Photo</h1></div>

<%= form_for @photo,:html => { :multipart => true,:id => "fileupload1"  } do |f| %>
  <%= render 'photos/errors', object: @photo %>

<span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span><%=t("adverts.photos.add_pics") %></span>
    <%= f.file_field :image, multiple: true, name: "photo[image]" %>
  </span>

 
<% end %>
    <div id="global_progress">
      <%= render 'adverts/partials/global_progress' %>
     
    </div>
<div id="photos"><%= render @photos %></div>