<% content_for :title,@title %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
     <h2><%= t("navigation.contact")%></h2>
    
    </div>

       
  </div>

</div>

<div class="row-fluid">
 <div class="span6 well">
	 <p class="lead"><%= t("inquiries.note").html_safe %></p>
    <%= form_for @contact_form  do |f| %>
     <%= f.select :type, [[ t("inquiries.feedback"),"General feedback" ],[ t("inquiries.problem"), "Problem" ],[ t("inquiries.feature"), "Feature request" ],[ t("inquiries.question"), "Question" ]]  %>
      <% unless current_user %>
        <%= f.text_field :email,:placeholder=>t("inquiries.email"),:class=>"span12" %><br>
        <% else %>
        <%= f.hidden_field :email,:value=> current_user.email %>
        <% end %>
        <%= f.text_area :message,:rows=>5,:required => false,:placeholder=>t("inquiries.write_message"),:class=>"span12" %>
         <div class="honeypot">
              <%= f.text_field :nickname, :value=>nil, tabindex: '-1' %>
              <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
            </div>
<p class="text-info" style="margin-top:10px;"><small><%= t("inquiries.acknowledge",:privacy_link=>privacy_path,:terms_link=>terms_path).html_safe %></small></p>
            <%= f.submit t("inquiries.send"),class: "btn btn-info" %>
            <%= link_to t("inquiries.cancel"),root_url,class: "btn" %>
 <% end %>
 </div>
  <div class="span6">
  </div>
</div>
