

<div class="row-fluid">
<div class="span3">
<% unless request.referrer.nil? %>
<% if URI(request.referer).path.include? "/search" %>
<%= link_to "Back to Search Results".html_safe, :back,:class=> "btn",:style=>"margin-bottom:10px;" %>
<% else %>
<%= link_to "Back".html_safe, :back,:class=> "btn",:style=>"margin-bottom:10px;" %>
<% end %>
<% end %>
</div>
<div class="span9">
  <div class="text-right hidden-phone">
  <%= render 'vehicles/partials/custom_breadcrumb' %>
</div>
  <div class="text-left visible-phone">
   <%= render 'vehicles/partials/custom_breadcrumb' %>
</div>
</div>
</div>
<div class="row-fluid page-header">
  <div class="span9">
    <h2> 
      <%= "#{@vehicle.registered_at.strftime('%Y')} #{@make_name} #{@model_name}"  %>
      <small class="hidden-phone">
        <%= "#{@vehicle.badge}" %>
      </small>
      </h2>
  </div>
  <div class="span3">
    <h2 class="text-right hidden-phone text-success" style="line-height: 0.7;"><%= "#{currency(@vehicle.price)}" %><br><small><%= @vehicle.price_vat ? "inc 20% VAT" : "exl 20% VAT" %></small></h2>
  
    <h2 class="text-left visible-phone text-success" style="line-height: 0.7;"><%= "#{currency(@vehicle.price)}" %><br><small><%= @vehicle.price_vat ? "inc 20% VAT" : "exl 20% VAT" %></small></h2>
  
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <span class="label"><%= "AD# #{@vehicle.advert.uid}" %></span><span class="label label-info" style="margin-left:5px;"><%= pluralize(@vehicle.popularity, 'visit') %></span>
  </div>
  <div class="span6 text-left visible-phone">
  <span class="label"><%= @user.is_dealer ? "Dealer" : "Private"  %></span>
  </div>
  <div class="span6 text-right hidden-phone">
   <span class="label"><%= @user.is_dealer ? "Dealer" : "Private"  %></span>
  </div>
</div>
<div class="row-fluid">
  <div class="span5">
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" >
      <%= render 'vehicles/partials/pictures' %>
      <%= render 'vehicles/partials/blueimp-gallery' %>
    </div>
    <%= render "vehicles/partials/contact",:mode=>"show" %>
    <div class="action_buttons text-left" style="margin-bottom:10px;">
      <%= render "vehicles/partials/action_buttons" %>
    </div>
    <%= render "vehicles/partials/commentsModal" %>
    <%= render "vehicles/partials/sendToFriendModal" %>
    <%= render "vehicles/partials/reportAdModal" %>

        <h4 class='text-success' style="margin-bottom:0;">Selling Slowly</h4>
        <small class="muted"><strong><%= distance_of_time_in_words(@vehicle.created_at, Date.today)  %></strong>
          on Webauto</small>
     
      <div id="price_change">
        <%= get_price_change %>
      </div>
     
   
   
  </div>
  <div class="span7">
    <%= render "vehicles/partials/general_info" %>
    <blockquote>
      <p style="font-size:14px;"><%= @vehicle.description %></p>
    </blockquote>
    <ul class="nav nav-tabs" id="vehicleTab">
      <li class="active"><a href="#specs" data-toggle="tab">Specification</a></li>
      <li><a href="#features" data-toggle="tab">Features</a></li>
    </ul>
    <div id="myVehicleTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="specs"><%= render "vehicles/partials/specs" %></div>
      <div class="tab-pane fade" id="features"><%= render "vehicles/partials/features" %></div>
    </div>
  </div>
  <p class="text-right muted"><small>This ad was updated <%= time_ago_in_words(@vehicle.updated_at) %> ago</small></p>
</div>


<div class="row-fluid">
<div class="span12">

 <ul class="nav nav-tabs" id="moreTab">
      <li><a href="#similar" data-toggle="tab" class="tab_<%= @vehicle.id %>">Similar cars</a></li>
      <li><a href="#more" data-toggle="tab" class="tab_<%= @vehicle.id %>">You may also be interested in...</a></li>
      <li><a href="#viewed" data-toggle="tab" class="tab_<%= @vehicle.id %>">Recently viewed by you </a></li>
    </ul>
    <div id="moreTabContent" class="tab-content">
      <div class="tab-pane fade" id="similar">
          <div class="search_preloader"></div>
        <div id="similar_vehicles"></div>
    
      </div>
      <div class="tab-pane fade" id="more">
          <div class="search_preloader"></div>
        <div id="interesting_vehicles"></div>
      
      </div>
       <div class="tab-pane fade" id="viewed">
  <div class="search_preloader"></div>
         <div id="viewed_vehicles"></div>
    
      
      </div>
     
    </div>
    
  

  </div>
   </div>
    </div>
