<% content_for :title,@title %>
<div class="row-fluid visible-phone">
 
  <div class="span12 hero-unit text-center">
<h2>Webauto</h2>
  <p><%= t("index.classified_ads") %></p>
            <p>
            <%= link_to t("index.create_ad"),  create_ad_path,:class=>"btn btn-info btn-large"  %>
            </p>
			 </div>
			  </div>
<div class="row-fluid">
  <div class="span3">
      <%= render 'cars/partials/search_form' %>
  </div><!--/span-->
  <div class="span9">
    <div id="logo" class="hero-unit hidden-phone">
    	  <h1>Webauto</h1>
        <p><%= t("index.classified_ads") %></p>
            <p>
            <%= link_to t("index.create_ad"),  create_ad_path,:class=>"btn btn-info btn-large"  %>
            </p>
    </div>
    <%= render 'vehicles/partials/indexTabs' %>
  </div><!--/span-->
</div><!--/row-->

 

<div id="popular_ads" class="row-fluid" style="padding-top:20px; margin-top:20px; border-top: 1px solid #eeeeee;">
    <div class="span4">
      <table class="table table-condensed table-striped borderless">
 <thead>
                <tr>
                  <th><%= t("index.popular_makes") %></th>
                </tr>
              </thead>
              <tbody>
                  <% @popular_makes.each_with_index do |pm,i| %>
                  <% if i<5 %>

                <tr>
                  <td> 
                  <%= "#{i+1}. "%><%= link_to pm.name, new_search_path(:search=>"make",:value=>pm.name),:method=>:post  %>
                  </td>
                    <td> 
                    <% _pm=@popular_makes[i+5] %>
                   <%= "#{i+6}. "%><%= link_to _pm.name, new_search_path(:search=>"make",:value=>_pm.name),:method=>:post  if _pm %>
                  </td>
                </tr>
                <% end %>
                 <% end %>
              </tbody>
</table>
        
    </div>
     
     <div class="span4">
        <table class="table table-condensed table-striped borderless">
 <thead>
                <tr>
                  <th><%= t("index.popular_models") %></th>
                </tr>
              </thead>
              <tbody>
                  <% @popular_models.each_with_index do |pm,i| %>
                   <% make_name=pm.make.name %>
                  <% if i<5 %>
                <tr>
                  <td>  <%= "#{i+1}. "%><%= link_to "#{make_name} #{pm.name}", new_search_path(:search=>"model",:value=>make_name,:model=>pm.name),:method=>:post  %></td>
                  <td>  
                  <% _pm=@popular_models[i+5] %>
                  <% if _pm %>
                  <% _make_name=_pm.make.name %>
                  <%= "#{i+6}. "%><%= link_to "#{_make_name} #{_pm.name}", new_search_path(:search=>"model",:value=>_make_name,:model=>_pm.name),:method=>:post %>
                   <% end %>
                   </td>
                </tr>
                <% end %>
                 <% end %>
              </tbody>
</table>
     
    </div>
    
     <div class="span4">
       <table class="table table-condensed table-striped borderless">
 <thead>
                <tr>
                  <th><%= t("index.popular_bodytypes") %></th>
                </tr>
              </thead>
              <tbody>
                  <% @popular_bodytypes.each_with_index do |bt,i| %>
                  <% if i<5 %>
                <tr>
                  <td>  <%= "#{i+1}. "%><%= link_to bt.name, new_search_path(:search=>"bodytype",:value=>bt.id),:method=>:post  %></td>
                   <td>  
                   <% _bt=@popular_bodytypes[i+5] %>
                   <%= "#{i+6}. "%><%= link_to _bt.name, new_search_path(:search=>"bodytype",:value=>_bt.id),:method=>:post  if _bt %></td>
                </tr>
                <% end %>
                 <% end %>
              </tbody>
</table>
       
    </div>
    
    
   

</div>
 
<p id="last_reviews_title" style="padding-top:20px; margin-top:20px; border-top: 1px solid #eeeeee;"><strong><%= t("index.last_reviews_title") %></strong></p>
<div id="last_reviews" class="row-fluid" >


	   <% @last_reviews.each do |review| %>
	     
	         <div class="span6 thumbnail" style="margin-bottom:10px;">
	           <%= render 'reviews/partials/review',:review=>review,:length=>150 %>
	         </div>
	      
	   <% end %>

</div>
<div class="text-right"><small><%= link_to t("index.view_all"),reviews_path %></small></div>
  <div class="row-fluid" >
    <div class="span12 text-center" >
  	  <ul class="unstyled" style="margin-top:50px; margin-bottom:50px;">
  		  <li>
    <p class="lead"><%= t('reviews.details.would_you') %></p> 
  </li> 
  <li>
  	<%= link_to t('reviews.details.write_review'), add_reviews_path,:class=>"btn btn-info btn-large"  %>
  </li>
  </ul>
  	 </div>
  	  </div>