<% v=ad.vehicle %>
<% !ad.activated || ad.destroyed? ? path=preview_advert_path(ad) : path=send("#{v.type.name.singularize.underscore}_path", v) %>
  <% picture=v.pictures.first%>
<td width="150">
   <div class="thumbnail">   
<% if picture %>
          <%= link_to image_tag(picture.file_url(:thumb)), path %>
             <% else %>
      <%= image_tag "/thumbnail.png",size: "300x200"  %>
    <% end %>
        </div>
        </td>
        <td>
            <strong>
              <% if v.make_model.present? %>
            <%= link_to v.short_name, path %>
        
            
            <% end %>
          </strong>
		   <ul class="unstyled">
		    <li><small><%= v.odometer_str %>  </small></li>
  		   <li>
  		    <small><%= v.transmission_str %>  </small></li>
    		 <li>
    		    <small><%= v.fueltype %>  </small></li>
			</ul>
        </td>
        <td><%= currency(v.price) %></td>
        <td class="muted">
			 <ul class="unstyled">
          <li><small><strong class="text-success"><%= t("adverts.index.created") %></strong>
            <%= v.created_at.strftime("%d/%m/%Y") %></small></li>
        
	  </ul>
	  </td>
        <td>
			    <%= render 'adverts/partials/status',ad: ad %>
    
        </td>
        <td>
          <div class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t("searches.index.actions") %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
       <% unless ad.activated || ad.destroyed? || ad.unfinished? %>
      <li>  <%= link_to t("adverts.index.preview"), preview_advert_path(ad) %></li>
      <% end %>
       <% unless ad.destroyed? %>
       <% unless ad.unfinished? %>
        <% if ad.activated %>
        <li> 
       <%= link_to t("adverts.actions.show"), send("#{ad.vehicle.type.name.downcase}_path", ad.vehicle) %>
 	   </li> 
 	    <% end %>
     <li><%= link_to t("adverts.index.statistics"), statistics_advert_path(ad),:remote=>true %></li>
     <% end %>
       <li>  <%= link_to t("adverts.index.edit"), edit_advert_path(ad) %></li>
       <% end %>
        
       <% unless ad.unfinished? || ad.destroyed? %>
       
        <li> 
          <% if ad.activated %>
	  
          <%= link_to t("adverts.index.deactivate"), deactivate_advert_path(ad),  data: { confirm: t("adverts.index.deactivate_sure") },:remote=>true,:class=>"_link" %>
          <% else %>

          <%= link_to t("adverts.index.activate"), activate_advert_path(ad), data: { confirm: t("adverts.index.activate_sure") },:remote=>true,:class=>"_link" %>
          <% end %>
        </li>
        <%  end %>
        
          <% if ad.destroyed? %>
           <li> 
          <%= link_to t("adverts.index.restore"), restore_advert_path(ad),  data: { confirm: t("adverts.index.restore_sure") },:remote=>true,:class=>"restore_link" %>
           </li>

            <li>
          <%= link_to 'Delete',really_destroy_advert_path(ad),data: { confirm: 'Are you sure?' },:remote=>true,:class=>"delete_link" %>
           </li>
         
          <% else %>
           <li>
          <%= link_to t("adverts.index.remove"), ad, method: :delete, data: { confirm: t("adverts.index.remove_sure") },:remote=>true,:class=>"delete_link" %>

           </li>
      
          <% end %>
       
  </ul>
</div>
         
        </td>
