
<table class="table table-hover sortable">
  <thead>
    <tr>
      <th></th>
      <%= sortable_th "make_model",t("saved_items.index.description") %>
      <%= sortable_th "price",t("saved_items.index.price") %>
      <%= sortable_th "created_at",t("searches.index.activity") %>
      <%= sortable_th "status",t("adverts.index.status") %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% adverts.each do |ad| %>
      <tr id="ad_<%= ad.id %>">
      <%= render 'adverts/partials/ad',ad: ad %>
      </tr>
    <% end %>
  </tbody>
</table>