<%= form_for Picture.new,:html => { :multipart => true, :id => "fileupload",:class=>"#{@count>=@max_pictures ? 'hidden' : '' }" }  do  %>
 
  <%= hidden_field :picture,:vehicle_id,:value=>@vehicle.id %>
  <%= hidden_field :picture,:position,:value=>100 %>

  <span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span><%=t("adverts.photos.add_pics") %></span>
    <%= file_field_tag :picture, :multiple => true, :name => "picture[file]" %>
  </span>


<% end %>