<!DOCTYPE html>
<html>
  <head>
 
   

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? yield(:title) : "Webauto" %></title>
      <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->
      <link href="/car.ico" rel="shortcut icon" type="image/x-icon" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Webauto.ee' %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="author" content="" />

            <%= csrf_meta_tags %>
            <%= include_gon %>
            <%= stylesheet_link_tag "application", :media => "print" %>
            <%= javascript_include_tag "application" %>
            <%= javascript_tag do %>
              window.locale = "<%= I18n.locale %>"
              window.I18n = <%= current_translations.to_json.html_safe %>
            <% end %>
            <%= yield(:head) %>
		
          </head>
          <body class="<%= controller_name %> <%= action_name %>"  onload="window.print();">
         
			
			
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <%= render 'layouts/navigation',:type=>@current_type.path_name%>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="site-message">
                <%= render 'layouts/messages'%>
              </div>
              <%= yield %>
            </div>
            <!--! end of .container -->
			
          </body>
        </html>